
.timeline {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  margin-left: 2rem;
}

.timeline-event {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.timeline-date {
  margin-right: 1rem;
  color: #2c3e50;
  font-weight: bold;
}

.timeline-circle {
  width: 10px;
  height: 10px;
  background-color: #2c3e50;
  border-radius: 50%;
  position: absolute;
  left: -19px;
}

.timeline-circle::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #2c3e50;
  transform: translateX(-50%);
}

.timeline-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 50%;
  background-color: #2c3e50;
  transform: translateX(-50%);
}

.timeline-circle.topmost::before {
  display: none;
}

.timeline-content {
  font-weight: 500;
  margin-left: 2rem;
}

.timeline-card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.timeline-event:last-child .timeline-circle::after {
  height: 50%;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 2px;
  height: 100%;
  background-color: #6c757d;
}

.timeline-event:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 2px;
  height: 50%;
  background-color: #6c757d;
}



@media (min-width: 768px) {
  .timeline-event {
    flex-direction: row;
    align-items: center;
  }

  .timeline-card {
    margin-left: 2rem;
  }
}
