{% extends "base.html" %} {% block title %} About {% endblock %} {% block
content %}
<!-- About Section -->
<div class="about-container">
  <div class="profile-picture">
    <img
      src="{{ url_for('static', filename='img/profile.png') }}"
      alt="Profile Picture"
    />
  </div>
  <div class="about-content">
    <h2 class="about-heading">Hi, I'm Sammi</h2>
    <p>
      <span class="initial-letter">I</span> am an upcoming senior CS student at
      WGU I aim to leverage my diverse experiences to make a global impact in
      technology. In my free time, you'll see me cooking, making music, playing
      basketball, or hiking and reading.
    </p>
  </div>
</div>

<!-- Education section -->
<div class="education-section">
  <div class="education-cards">
    {% for edu in education %}
    <div class="education-card">
      <img
        src="{{ edu.logo }}"
        alt="{{ edu.school }}"
        ,
        class="education-logo"
      />
      <h3>{{ edu.school }}</h3>
      <p>{{ edu.degree }}</p>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Map section -->

<div class="map-container">
  <div class="map-frame">
    <div id="map-id"></div>
  </div>
</div>

{% endblock %}
