{% extends "base.html" %} {% block title %} Experience {% endblock %} {% block
content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/experience.css') }}"
/>

<div class="timeline">
  <div class="timeline-event">
    <div class="timeline-date">2024 - Now</div>
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <p>Meta PE Fellow @ MLH </p>
      <p>Student @ Western Governor's Uni</p>
    </div>
  </div>
  <div class="timeline-event">
    <div class="timeline-date">2021 - 2023</div>
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <p>Accountant in Public Accounting</p>
    </div>
  </div>

  <div class="timeline-event">
    <div class="timeline-date">2019 - 2021</div>
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <p>Bookkeeper</p>
    </div>
  </div>
  <div class="timeline-event">
    <div class="timeline-date">2018 - 2021</div>
    <div class="timeline-circle"></div>
    <div class="timeline-content">
      <p>Student @ BSU</p>
    </div>
  </div>
</div>
{% endblock %}
