{% extends "base.html" %}

{% block title %} Experience {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css') }}" />

<!-- Experience Section -->
<div class="timeline">
  {% for exp in experiences %}
  <div class="timeline-event">
    <div class="timeline-circle {{ 'topmost' if loop.first }}"></div>
    <div class="timeline-card">
      <div class="timeline-date">{{ exp.dates }}</div>
      <div class="timeline-content">
        <h3>{{ exp.position }}</h3>
        <p>{{ exp.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
