{% extends "base.html" %}

{% block title %} Experience {% endblock %}

{% block content %}
<div class="timeline">
    <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content left">
            <span class="timeline-date">2024 - Present</span>
            <h2>Meta PE Fellow @ MLH and Student @ WGU</h2>
            <p>Coming soon</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content left">
            <span class="timeline-date">2022 - 2023</span>
            <h2>Public Accountant @ CliftonLarsonAllen</h2>
            <p>Public Accountant @ CliftonLarsonAllen</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content left">
            <span class="timeline-date">2021 - 2022</span>
            <h2>Public Accountant @ Eide Bailly</h2>
            <p>Public Accountant @ Eide Bailly</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content left">
            <span class="timeline-date">2018 - 2021</span>
            <h2>Student @ BSU and Bookkeeper @ Hayden Beverage Co.</h2>
            <p>Student @ BSU and Bookkeeper @ Hayden Beverage Co.</p>
        </div>
    </div>
</div>
{% endblock %}
