{% extends "base.html" %} {% block title %} Hobbies {% endblock %} {% block
content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/hobbies.css') }}"
/>
<div class="hobbies-page">
  <div class="hobby-section">
    {% for hobby in hobbies %}
    <div class="hobby">
      <div class="hobby-image">
        <img src="{{ hobby.image }}" alt="{{ hobby.title }}" />
      </div>
      <div class="hobby-content">
        <h2 class="hobby-title">{{ hobby.title }}</h2>
        <p class="hobby-text">{{ hobby.description }}</p>
        {% if hobby.link %}
        <p>
          <a href="{{ hobby.link }}" target="_blank"
            >Youtube</a
          >
        </p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
